##### Import pandas

In [131]:
import pandas as pd

##### Load the data

In [132]:
df = pd.read_csv("C:/Users/vinod/OneDrive/Desktop/LinkedIn_Jobs_Data_India.csv")

##### Display the few row of the dataframe

In [133]:
df.head()

,Unnamed: 0,id,publishedAt,title,companyName,postedTime,applicationsCount,description,contractType,experienceLevel,workType,sector,companyId,city,state,recently_posted_jobs
0,0,3800928381,2024-01-09,Front-end Engineer/Web Developer (SDE 1 &amp; 2),BOX8,3 weeks ago,85.0,"Skill: html5 , ajax , oop , git , postgresql ,...",Full-time,Entry level,Engineering and Information Technology,Staffing and Recruiting,3479477,Bengaluru,Karnataka,No
1,1,3800929078,2024-01-09,Android Developer-SDE 1 &amp; 2(Software Devel...,BOX8,3 weeks ago,80.0,"Skill: algorithms , rest , github , css , html...",Full-time,Entry level,Engineering and Information Technology,Staffing and Recruiting,3479477,Bengaluru,Karnataka,No
2,2,3792399495,2023-12-27,Web Developer,Mahe Technologies Private Limited,1 month ago,75.0,The ideal candidate is a creative problem solv...,Full-time,Executive,Engineering and Information Technology,Information Technology & Services,14387125,Greater Kolkata Area,NaN,No
3,3,3792604197,2023-12-27,Web Developer,Mahe Technologies Private Limited,1 month ago,52.0,The ideal candidate is a creative problem solv...,Full-time,Executive,Engineering and Information Technology,Information Technology & Services,14387125,Greater Kolkata Area,NaN,No
4,4,3808399427,2024-01-23,Software Engineer,Microsoft,1 week ago,26.0,Do you have a passion for security? Do you lik...,Full-time,Not Applicable,Engineering and Information Technology,Software Development,1035,Hyderabad,Telangana,Yes

##### Display the basic information about dataframe

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            949 non-null    int64
 1   id                    949 non-null    int64
 2   publishedAt           857 non-null    object
 3   title                 949 non-null    object
 4   companyName           949 non-null    object
 5   postedTime            949 non-null    object
 6   applicationsCount     949 non-null    float64
 7   description           949 non-null    object
 8   contractType          860 non-null    object
 9   experienceLevel       949 non-null    object
 10  workType              860 non-null    object
 11  sector                860 non-null    object
 12  companyId             949 non-null    int64
 13  city                  949 non-null    object
 14  state                 871 non-null    object
 15  recently_posted_jobs  949 non-null    object
dtypes: float64(1), int64(3), object(12)
memory usage: 118.8+ KB

##### Check for missing values

In [135]:
df.isnull().sum()

Unnamed: 0               0
id                       0
publishedAt             92
title                    0
companyName              0
postedTime               0
applicationsCount        0
description              0
contractType            89
experienceLevel          0
workType                89
sector                  89
companyId                0
city                     0
state                   78
recently_posted_jobs     0
dtype: int64

##### Drop rows with the missing values

In [136]:
df_cleaned = df.dropna()

##### Check for missing values again

In [137]:
df_cleaned.isnull().sum()

Unnamed: 0              0
id                      0
publishedAt             0
title                   0
companyName             0
postedTime              0
applicationsCount       0
description             0
contractType            0
experienceLevel         0
workType                0
sector                  0
companyId               0
city                    0
state                   0
recently_posted_jobs    0
dtype: int64

##### Check for the duplicates rows

In [138]:
df_cleaned.duplicated().sum()

0

##### Remove duplicates rows

In [139]:
df_cleaned = df_cleaned.drop_duplicates()

##### Check for the duplicates rows again

In [140]:
df_cleaned.duplicated().sum()

0

##### Check data types

In [141]:
df_cleaned.dtypes

Unnamed: 0                int64
id                        int64
publishedAt              object
title                    object
companyName              object
postedTime               object
applicationsCount       float64
description              object
contractType             object
experienceLevel          object
workType                 object
sector                   object
companyId                 int64
city                     object
state                    object
recently_posted_jobs     object
dtype: object

##### Dropping unnecessary columns in a dataframe

In [142]:
df_cleaned = df_cleaned.drop(columns=["Unnamed: 0", "postedTime"])

##### Convert date columns to datetime

In [143]:
df_cleaned['publishedAt'] = pd.to_datetime(df_cleaned['publishedAt'])

##### Renaming columns

In [144]:
df_cleaned.rename(columns={'publishedAt':'Date','title':'Job_Title'})

,id,Date,Job_Title,companyName,applicationsCount,description,contractType,experienceLevel,workType,sector,companyId,city,state,recently_posted_jobs
0,3800928381,2024-01-09,Front-end Engineer/Web Developer (SDE 1 &amp; 2),BOX8,85.0,"Skill: html5 , ajax , oop , git , postgresql ,...",Full-time,Entry level,Engineering and Information Technology,Staffing and Recruiting,3479477,Bengaluru,Karnataka,No
1,3800929078,2024-01-09,Android Developer-SDE 1 &amp; 2(Software Devel...,BOX8,80.0,"Skill: algorithms , rest , github , css , html...",Full-time,Entry level,Engineering and Information Technology,Staffing and Recruiting,3479477,Bengaluru,Karnataka,No
4,3808399427,2024-01-23,Software Engineer,Microsoft,26.0,Do you have a passion for security? Do you lik...,Full-time,Not Applicable,Engineering and Information Technology,Software Development,1035,Hyderabad,Telangana,Yes
5,3803684281,2024-01-17,Software Engineer,Microsoft,200.0,Microsoft Endpoint Manager (MEM) Is An Integra...,Full-time,Not Applicable,Engineering and Information Technology,Software Development,1035,Noida,Uttar Pradesh,No
7,3792934769,2024-01-27,"Software Engineer, Systems Infrastructure",LinkedIn,200.0,LinkedIn is the world’s largest professional n...,Full-time,Not Applicable,Engineering,"IT Services and IT Consulting and Technology, ...",1337,Bengaluru,Karnataka,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944,3811057159,2024-01-22,Production Engineer - Injection Molding,SKF India,87.0,About SKF\n\n\n\nSKF started its operations in...,Full-time,Associate,Production and Manufacturing,"Motor Vehicle Parts Manufacturing, Automation ...",1804161,Mysuru,Karnataka,Yes
945,3791640836,2023-12-25,Mechanical Engineering,Ample Leap,49.0,Job Location: Pan India\n\nEducation: B. Tech ...,Full-time,Executive,Engineering and Information Technology,Business Consulting and Services,3706977,Mathura,Uttar Pradesh,No
946,3781388877,2023-12-10,Mechanical Design Engineer,Vijaya Enterprises,39.0,Job Description\n\n\n * Resolve Issues related...,Full-time,Entry level,Engineering and Information Technology,Staffing and Recruiting,2313856,Navi Mumbai,Maharashtra,No
947,3792393497,2023-12-02,Mechanical Engineer,GVR TECHNOLABS PRIVATE LIMITED,59.0,"Job Summary\n\nGVR Technolabs Pvt Ltd, an Info...",Full-time,Entry level,Engineering and Information Technology,Information Technology & Services,27956264,Visakhapatnam,Andhra Pradesh,No
948,3795525413,2024-01-20,Piping Engineer,Infosys,93.0,"Primary skills: Piping Engineering, CAD, CATIA...",Full-time,Entry level,Engineering and Information Technology,IT Services and IT Consulting,1283,Bengaluru East,Karnataka,Yes

##### To make Index column

In [145]:
df_cleaned['SR NO'] = range(1, len(df_cleaned) + 1)

##### View the cleaned data

In [146]:
df_cleaned.head()

,id,publishedAt,title,companyName,applicationsCount,description,contractType,experienceLevel,workType,sector,companyId,city,state,recently_posted_jobs,SR NO
0,3800928381,2024-01-09,Front-end Engineer/Web Developer (SDE 1 &amp; 2),BOX8,85.0,"Skill: html5 , ajax , oop , git , postgresql ,...",Full-time,Entry level,Engineering and Information Technology,Staffing and Recruiting,3479477,Bengaluru,Karnataka,No,1
1,3800929078,2024-01-09,Android Developer-SDE 1 &amp; 2(Software Devel...,BOX8,80.0,"Skill: algorithms , rest , github , css , html...",Full-time,Entry level,Engineering and Information Technology,Staffing and Recruiting,3479477,Bengaluru,Karnataka,No,2
4,3808399427,2024-01-23,Software Engineer,Microsoft,26.0,Do you have a passion for security? Do you lik...,Full-time,Not Applicable,Engineering and Information Technology,Software Development,1035,Hyderabad,Telangana,Yes,3
5,3803684281,2024-01-17,Software Engineer,Microsoft,200.0,Microsoft Endpoint Manager (MEM) Is An Integra...,Full-time,Not Applicable,Engineering and Information Technology,Software Development,1035,Noida,Uttar Pradesh,No,4
7,3792934769,2024-01-27,"Software Engineer, Systems Infrastructure",LinkedIn,200.0,LinkedIn is the world’s largest professional n...,Full-time,Not Applicable,Engineering,"IT Services and IT Consulting and Technology, ...",1337,Bengaluru,Karnataka,Yes,5

In [148]:
df_cleaned.columns

Index(['id', 'publishedAt', 'title', 'companyName', 'applicationsCount',
       'description', 'contractType', 'experienceLevel', 'workType', 'sector',
       'companyId', 'city', 'state', 'recently_posted_jobs', 'SR NO'],
      dtype='object')

In [149]:
new_order = df_cleaned['SR NO','id', 'publishedAt', 'title', 'companyName', 'applicationsCount',
       'description', 'contractType', 'experienceLevel', 'workType', 'sector',
       'companyId', 'city', 'state', 'recently_posted_jobs']

KeyError: ('SR NO', 'id', 'publishedAt', 'title', 'companyName', 'applicationsCount', 'description', 'contractType', 'experienceLevel', 'workType', 'sector', 'companyId', 'city', 'state', 'recently_posted_jobs')